.top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main {
  background-color: black;
  height: 800px;
  width: 500px;
}

.second {
  background-color: black;
  height: 800px;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.movie-background {
  height: 500px;
  width: 300px;
  background-size: cover;
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 20px;
}

.color {
  color: #e6dfdf;
  animation: fadeIn 1s ease forwards;
  animation-delay: 2.5s;
  margin-right: 30%;
}

.movie-info {
  margin-left: -150px;
  color: white;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 2.5s;
}

.live-ratings {
  position: absolute;
  top: 10%;
  left: 35%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  animation: slideInDown 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards,
    fadeIn 1s ease forwards;
}

.format-selection {
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: #e6dfdf;
  animation: slideInDown 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s forwards,
    fadeIn 1s ease 0.5s forwards;
}

.language-selection {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-style: italic;
  animation: slideInDown 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1s forwards,
    fadeIn 1s ease 1s forwards;
}

.book-button {
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #724518;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-button:hover {
  transform: translate(-50%, -50%) translateY(5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.report {
  position: absolute;
  top: 90%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 60%;
  animation: slideInUp 1s ease 0s forwards;
}

@keyframes slideInUp {
  0% {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .top {
    flex-direction: column;
    align-items: center;
  }

  .main {
    width: 90%;
    height: auto;
  }

  .second {
    width: 90%;
    height: auto;
  }

  .movie-background {
    width: 100%;
    margin-left: 0;
    border-radius: 0;
  }

  .movie-info {
    margin: 20px 0;
    left: 50px;
  }

  .live-ratings,
  .format-selection,
  .language-selection,
  .book-button {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 1024px) {
  .second {
    width: 800px;
  }
}
