/* General Styles */
.seats-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #0a0b0a;
  min-height: 100vh;
  padding: 20px;
}

.skewed-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
  z-index: 1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transform: perspective(1000px) rotateX(50deg);
  border-top: 12px solid #736e6e;
  border-left: 12px solid #6a6868;
  border-right: 12px solid #666;
  border-bottom: 12px solid #666;
  overflow: hidden;
}

.skewed-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #333, #666);
  z-index: -1;
}

.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 40px;
  background-color: #333;
  background: linear-gradient(to left, #333, #666);
  z-index: -1;
}

.seats-container {
  display: flex;
  justify-content: center;
  background-color: #0a0b0a;
  padding: 20px;
  margin-top: 190px;
  margin-bottom: 10px;
  height: 555px;
}

.price-container {
  display: flex;
  gap: 30px;
}

.price-section {
  flex: 1;
}

.front-seats,
.middle-seats,
.back-seats {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  background-color: #000;
}

.seat {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
}

.seat.available {
  background: linear-gradient(to bottom, #72a88c, #3e4b40);
}

.seat.selected {
  background: linear-gradient(to bottom, #2d466b, #4e7ec1);
  transform: scale(1.1);
}

.seat.booked {
  background-color: #555;
  opacity: 0.5;
  filter: blur(2px);
  pointer-events: none;
}

.seat:hover {
  background-color: #f5eded;
}

.balcony {
  display: flex;
  flex-wrap: wrap;
  gap: 19.5px;
  margin-top: -70px;
  background-color: #000;
  margin-left: -45px;
  padding-bottom: 25px;
}

.legend {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  padding: 0 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.legend-item .seat {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.legend-item span {
  font-size: 14px;
  color: #fff;
}

.pay-button-container {
  position: absolute;
  top: 800px;
  right: 50px;
  display: flex;
}

.pay-button {
  background-color: #f910e1;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.pay-button:hover {
  background-color: #e710f2;
  transform: scale(1.05);
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid rgb(252, 12, 208);
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-numbers {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.popup-number {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.popup-number[data-type="even"] {
  background-color: #171817;
}

.popup-number[data-type="odd"] {
  background-color: #151515;
}

.popup-icon {
  margin-top: 10px;
}
